Package: kadeploy-common
Version: 3.0
Section: base
Priority: optional
Architecture: all
Depends: libmysql-ruby,libopenssl-ruby,ruby1.8,bittorrent,ctorrent
Maintainer: Emmanuel Jeanvoine <emmanuel.jeanvoine@inria.fr>
Description: Kadeploy: the cluster deployment tool - common part
