[project]
	description = Kadeploy 3 is the next generation of the fast and scalable deployment system for cluster and grid computing
	state = active
[access "refs/*"]
	owner = group batch
	owner = group kadeploy
	label-Verified = -1..+1 group kadeploy
	label-Code-Review = -2..+2 group kadeploy
	submit = group batch
	submit = group kadeploy
	read = group Anonymous Users
	read = group kadeploy
	pushMerge = group kadeploy
[submit]
	mergeContent = true
[access "refs/tags/*"]
	push = +force group kadeploy
	pushTag = group kadeploy
[access "refs/heads/*"]
	create = group kadeploy
	push = group kadeploy
