[project]
	description = Kadeploy 3 is the next generation of the fast and scalable deployment system for cluster and grid computing
[access "refs/*"]
	owner = group batch
	owner = group kadeploy
	label-Verified = -1..+1 group kadeploy
	label-Code-Review = -2..+2 group kadeploy
	submit = group batch
	submit = group kadeploy
[submit]
	mergeContent = true
