Package: kadeploy-client
Version: 3.0.0
Section: base
Priority: optional
Architecture: all
Depends: libmysql-ruby1.8,ruby1.8,kadeploy-common
Maintainer: Emmanuel Jeanvoine <emmanuel.jeanvoine@inria.fr>
Description: Kadeploy: the cluster deployment tool - client part
