Source: kadeploy
Section: admin
Priority: extra
Build-Depends: debhelper (>= 8), rake, help2man, gem2deb, texlive-latex-base, texlive-latex-recommended, texlive-latex-extra
Maintainer: Kadeploy developers <kadeploy3-devel@lists.gforge.inria.fr>
Uploaders: Emmanuel Jeanvoine <emmanuel.jeanvoine@inria.fr>, Lucas Nussbaum <lucas@debian.org>, Luc Sarzyniec <luc.sarzyniec@inria.fr>
XS-Ruby-Versions: all
Standards-Version: 3.9.4
Homepage: http://kadeploy3.gforge.inria.fr/
Vcs-Git: git://scm.gforge.inria.fr/kadeploy3/kadeploy3.git
Vcs-Browser: https://gforge.inria.fr/scm/browser.php?group_id=2026

Package: kadeploy-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
Description: Kadeploy: the cluster deployment tool - common part
XB-Ruby-Versions: ${ruby:Versions}

Package: kadeploy-client
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, kadeploy-common (= ${binary:Version}), ruby | ruby-interpreter
Recommends: oidentd | pidentd | ident2 | nullidentd
Description: Kadeploy: the cluster deployment tool - client part
XB-Ruby-Versions: ${ruby:Versions}

Package: kadeploy
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, kadeploy-common (= ${binary:Version}), ruby | ruby-interpreter, ruby-mysql | libmysql-ruby, openssh-client | ssh, taktuk
Recommends: kadeploy-client (= ${binary:Version}), tftpd-hpa | atftpd | tftpd, syslinux-common
Description: Kadeploy: the cluster deployment tool - server part
XB-Ruby-Versions: ${ruby:Versions}
