Source: kadeploy
Section: admin
Priority: extra
Build-Depends: debhelper (>= 8), rake, help2man
Maintainer: Emmanuel Jeanvoine <emmanuel.jeanvoine@inria.fr>
XS-Ruby-Versions: ruby1.9.1
Standards-Version: 3.9.3

Package: kadeploy-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby-mysql
Description: Kadeploy: the cluster deployment tool - common part
XB-Ruby-Versions: ruby1.9.1

Package: kadeploy-client
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, kadeploy-common (= ${binary:Version})
Description: Kadeploy: the cluster deployment tool - client part
XB-Ruby-Versions: ruby1.9.1

Package: kadeploy
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, kadeploy-common (= ${binary:Version})
Recommends: kadeploy-client (= ${binary:Version})
Description: Kadeploy: the cluster deployment tool - server part
XB-Ruby-Versions: ruby1.9.1
