#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_installinit:
	# copy the upstream init script to debian/
	cp addons/rc/debian/kadeploy3d debian/kadeploy.init
	dh_installinit

override_dh_auto_install:
	dh_auto_install
	# gem2deb install binaries to debian/kadeploy-common. we move them manually
	# to the correct binary package
	mv debian/kadeploy-common/usr/bin/* debian/kadeploy-client/usr/bin/
	

# Do not work because of buggy dh_installexamples
#override_dh_installdocs:
#	dh_installdocs --link-doc=kadeploy -O--buildsystem=ruby
